:root {
  --color-primary: #101734;
  --color-secondary: #1b1e51;
  --color-accent: #332fba;
  --color-headings: #d2d5e8;
  --color-body: #7c80a4;

  --button-dark: #1d224d;
  --button-light: #fffefe;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: var(--color-headings);
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
