/* INDEX */
/* Typography */
/* Links */
/* Lists */
/* Buttons */

:root {
  --color-primary: #101734;
  --color-secondary: #1b1e51;
  --color-accent: #332fba;
  --color-headings: #d2d5e8;
  --color-body: #7c80a4;

  --button-dark: #1d224d;
  --button-light: #fffefe;
  --button-letter-spacing: 2px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  background: var(--color-primary);
}

h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: var(--color-headings);
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* LINKS */
a {
  text-decoration: none;
}

.link {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
}

/* LISTS */
ul {
  padding: 0;
}

.list {
  color: var(--color-headings);
  list-style: none;
}

.list__item {
  margin-bottom: 1rem;
}

/* BUTTONS */
.button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: var(--button-letter-spacing);
  margin: 1rem 0;
  outline: none;
  padding: 8px 10px;
  text-transform: uppercase;
  transition: all 0.3s;
  white-space: nowrap;
  width: 100%;
}

.button--block {
  display: block;
}

.button--primary {
  background: var(--color-primary);
  box-shadow: 0 0 5px 2px var(--color-primary);
  color: var(--color-headings);
}

.button--primary:hover {
  background: var(--color-headings);
  color: var(--color-primary);
}

.button--accent {
  background: var(--color-accent);
  color: var(--color-headings);
}

.button--accent:hover {
  background: var(--color-headings);
  color: var(--color-secondary);
}

.button--light {
  background: var(--color-headings);
  color: var(--color-secondary);
}

.button--light:hover {
  background: var(--color-secondary);
  color: var(--color-headings);
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.8rem;
  }
}
