<!-- FULL WIDTH BLOCK -->
<section class="block">
  <section class="block__header">
    <h2 class="block__heading">Block heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
      repudiandae amet iusto commodi expedita modi quisquam exercitationem,
      voluptatibus cupiditate debitis.
    </p>
  </section>
</section>

<!-- 1140px WIDTH BLOCK -->
<section class="block container">
  <section class="block__header">
    <h2 class="block__heading">Block heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
      repudiandae amet iusto commodi expedita modi quisquam exercitationem,
      voluptatibus cupiditate debitis.
    </p>
  </section>
</section>
