<div style="width: 20%">
  <div class="card">
    <div class="card__header">
      <h2 class="card__heading">Title</h2>
      <h3 class="card__subheading">Subheading</h3>
      <h4>
        <span class="card__price">
          <span class="card__dollar">$</span>100<span class="card__year"
            >/year</span
          ></span
        >
      </h4>
    </div>
    <div class="card__body">
      <ul class="list">
        <li class="list__item">Some random text</li>
        <li class="list__item">Some random text</li>
        <li class="list__item">Some random text</li>
        <li class="list__item">Some random text</li>
        <li class="list__item">Some random text</li>
      </ul>
    </div>
    <div class="card__footer">
      <button class="button button--accent button--block">Accent button</button>
    </div>
  </div>
</div>
