<section class="block container">
  <div class="block__header">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <span class="hero__separator">______</span>
  </div>
  <ul class="list block-domain__clients">
    <li class="list__item">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-one"></use>
      </svg>
    </li>
    <li class="list__item">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-two"></use>
      </svg>
    </li>
    <li class="list__item">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-three"></use>
      </svg>
    </li>
    <li class="list__item">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-four"></use>
      </svg>
    </li>
    <li class="list__item">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-five"></use>
      </svg>
    </li>
    <li class="list__item">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-six"></use>
      </svg>
    </li>
    <li class="list__item block-domain__hidden">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-seven"></use>
      </svg>
    </li>
    <li class="list__item block-domain__hidden">
      <svg class="icon">
        <use href="assets/sprite.svg#logo-eight"></use>
      </svg>
    </li>
  </ul>
</section>
