<section class="block feature">
  <div class="container grid grid--1x2">
    <div class="feature__content">
      <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
      <span class="hero__separator">______</span>
      <p class="feature__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.
        Illo doloremque omnis obcaecati ut veritatis, libero eligendi eveniet
        molestiae laborum ea consequuntur sint vel?
      </p>
      <button class="button button--secondary button--block">
        Secondary button
      </button>
    </div>
    <img class="feature__image" src="art/laptop.svg" alt="" />
  </div>
</section>
<section class="block feature">
  <div class="container grid grid--1x2">
    <div class="feature__content">
      <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
      <span class="hero__separator">______</span>
      <p class="feature__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.
        Illo doloremque omnis obcaecati ut veritatis, libero eligendi eveniet
        molestiae laborum ea consequuntur sint vel?
      </p>
      <button class="button button--secondary button--block">
        Secondary button
      </button>
    </div>
    <img class="feature__image" src="art/laptop.svg" alt="" />
  </div>
</section>
<section class="block feature">
  <div class="container grid grid--1x2">
    <div class="feature__content">
      <h3 class="feature__heading">Lorem ipsum dolor sit amet.</h3>
      <span class="hero__separator">______</span>
      <p class="feature__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, soluta.
        Illo doloremque omnis obcaecati ut veritatis, libero eligendi eveniet
        molestiae laborum ea consequuntur sint vel?
      </p>
      <button class="button button--secondary button--block">
        Secondary button
      </button>
    </div>
    <img class="feature__image" src="art/laptop.svg" alt="" />
  </div>
</section>
