<!-- GRID 2 COLS WHEN 768px -->
<div class="grid grid--1x2">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
</div>

<!-- GRID 3 COLS WHEN 1024px -->
<div class="grid grid--1x3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: tomato"></div>
</div>

<!-- GRID 3X3 -->
<div class="grid grid--3x3">
  <div style="height: 300px; background: lightblue"></div>
  <div style="height: 300px; background: lightblue"></div>
  <div style="height: 300px; background: lightblue"></div>
  <div style="height: 300px; background: lightblue"></div>
  <div style="height: 300px; background: lightblue"></div>
  <div style="height: 300px; background: lightblue"></div>
</div>
