<section class="block hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="hero__heading">Hero Title</h1>
      <p class="hero__separator">______</p>
      <p class="hero__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
        quo? Reprehenderit earum nostrum nesciunt error quibusdam, ipsam numquam
        quam explicabo?
      </p>
      <a href="#" class="button button--secondary">Button text</a>
    </header>
    <img class="hero__image" src="art/laptop.svg" alt="" />
  </div>
</section>
