<section class="block container showcase">
  <div class="grid grid--1x2">
    <div class="showcase__content">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <span class="hero__separator">______</span>
      <p class="showcase__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem
        magni, tempora, id, fuga quia cum laudantium maxime dicta veniam nemo
        sed explicabo eligendi nesciunt?
      </p>
      <img class="showcase__image" src="art/laptop.svg" alt="" />
    </div>
    <div class="showcase__list">
      <ul class="list">
        <li class="list__item">
          <svg class="icon icon--light">
            <use href="assets/sprite.svg#bar-graph"></use>
          </svg>
          <h4>Item 1</h4>
          <p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
              ipsum.</small
            >
          </p>
        </li>
        <li class="list__item">
          <svg class="icon icon--light">
            <use href="assets/sprite.svg#bar-graph"></use>
          </svg>
          <h4>Item 1</h4>
          <p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
              ipsum.</small
            >
          </p>
        </li>
        <li class="list__item">
          <svg class="icon icon--light">
            <use href="assets/sprite.svg#bar-graph"></use>
          </svg>
          <h4>Item 1</h4>
          <p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
              ipsum.</small
            >
          </p>
        </li>
        <li class="list__item">
          <svg class="icon icon--light">
            <use href="assets/sprite.svg#bar-graph"></use>
          </svg>
          <h4>Item 1</h4>
          <p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
              ipsum.</small
            >
          </p>
        </li>
        <button class="button button--primary button--block">
          Primary button
        </button>
      </ul>
    </div>
  </div>
</section>
